<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <h2>Alerts</h2>
        <p>
          Notify me whenever there's an update 
          <ion-checkbox [checked]="checked" [(ngModel)]="checked" mode="ios" style="vertical-align: middle;margin-left:10px;" color="primary"></ion-checkbox>
        </p>
    </div>

    <div>
        <ion-item>
          <ion-label position="stacked" style="font-size:13px">Your name</ion-label>
          <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
    </div>
    
    <ion-button style="margin-top:20px" (click)="updateUser()" expand="block">Update</ion-button>
</ion-content>
